<h1>Make Deposit</h1>
<br>
<br>
<form action="/deposit" method="post">
<label for="deposit">How much would you like to deposit?</label>
<p><input type="float" name="amount" id="amount"></p>
<input type="submit" value="Submit">