<h1>Withdraw from <%=@user.username%>'s account</h1>
<p>Balance: $<%=@user.balance%></p>
<p>Withdraw: $<%=@withdrawl%></p>
<%@user.balance = @user.balance - @withdrawl%>
<h3>New Balance: $<%=@user.balance%></h3>
 