<h1>Make Withdrawal</h1>
<br>
<br>
<form action="/withdrawal" method="post">
<label for="withdrawal">How much would you like to withdraw?</label>
<p><input type="float" name="amount" id="amount"></p>
<input type="submit" value="Submit">